:root {
    --p-color: #11161b;
    --s-color: #27488f;
    --text-color: white;
}

body {
    margin: 0;
    background-color: var(--p-color);
}

/* Typography */
h1,
h2,
h3 {
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-family: "Roboto Slab", serif;
}

/* Header and Navigation */
header {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--p-color);
    color: var(--text-color);
    margin: auto;
}

header h1 {
    margin-left: 1.2rem;
}

#menu::before {
    content: "≡";
}

#menu {
    display: block;
    font-size: 1.50rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    color: var(--text-color);
    font-family: "Roboto Slab", serif;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    color: white;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1.25rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: #27488f;
    background-color: white;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

.hide-header h1 {
    display: none;
}

/* Main (image and timeline) */
#indexMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

#indexMain section {
    margin: 1rem;
    height: fit-content;
    padding: 1rem;
    opacity: 85%;
}

#title {
    grid-column: 1/2;
    grid-row: 1/2;
}

#title p {
    font-size: 1.25rem;
    background-color: var(--p-color);
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
}

#title h2 {
    background-color: var(--s-color);
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
}

#indexMain picture {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
    position: fixed;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#timeline {
    content: "";
    position: relative;
    background-color: var(--text-color);
    width: 1px;
    left: 50%;
    margin-bottom: 150px;
}

.child {
    position: relative;
    margin: 20px;
    opacity: 0;
    font-size: .80rem;
}

.child:nth-child(odd) {
    float: left;
}

.child:nth-child(odd)::before {
    content: "";
    position: absolute;
    background: var(--text-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -30px;
}

.child:nth-child(odd)::after {
    content: "";
    position: absolute;
    background: var(--text-color);
    width: 10px;
    height: 2px;
    left: -10px;
    top: 10px;
}

.child:nth-child(even) {
    float: right;
}

.child:nth-child(even)::before {
    content: "";
    position: absolute;
    background: var(--text-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -30px;
}

.child:nth-child(even)::after {
    content: "";
    position: absolute;
    background: var(--text-color);
    width: 10px;
    height: 2px;
    right: -10px;
    top: 10px;
}

.content {
    width: 120px;
    padding: 10px;
    color: var(--text-color);
    background: var(--p-color);
    opacity: 82%;
}

.visible {
    opacity: 1;
    animation: -visible 1s cubic-bezier(.99, -.7, .2, 1.9);
}

.hide {
    opacity: 0;
    animation: -hide 1s cubic-bezier(.99, -.7, .2, 1.9);
}

@keyframes -visible {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes -hide {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(500px);
        opacity: 0;
    }
}

/* Footer */
footer {
    background-color: var(--s-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    margin: auto;
}

#indexFooter {
    position: relative;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--p-color);
    padding: .75rem;
    border-radius: 6px;
    margin-top: 25px;
}

footer a:hover {
    background-color: var(--text-color);
    color: var(--p-color);
}

/* Components specific styling */
#compoBody,
#peripheralsBody,
#contactUsBody,
#mainRef {
    background-color: var(--text-color);
}

#mainComponents,
#mainPeripherals {
    display: grid;
    max-width: 1500px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: auto;
}

#components,
#peripherals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

#mainRef main{
    margin-left: 100px;
    margin-bottom: 25px;
}

#components section,
#peripherals section {
    border: 1px solid var(--p-color);
    padding: 15px;
    background-color: var(--s-color);
    box-shadow: 0 2px 4px black;
    color: var(--text-color);
}

#components img,
#peripherals img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

#compTitle,
#peripheralsTitle {
    background-color: var(--s-color);
    color: var(--text-color);
    padding: 1rem;
}

/* Filters */
#filter label {
    display: block;
    margin: auto;
}

#priceFilter {
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 100%;
    appearance: none;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

/* Form */
#contactUsMain {
    display: flex;
    flex-direction: column;
}

form {
    max-width: 400px;
    margin: auto;
    margin-top: 109px;
    margin-bottom: 100px;
}

label {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 15px;
}

input,
textarea,
select {
    width: 100%;
    padding: .75rem;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    border: solid 1px #999;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
}

form input:required,
textarea:required {
    border-right: solid 8px red;
}

form input:required:valid,
textarea:required:valid {
    border-right: solid 8px green;
}

input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--p-color), var(--s-color));
    color: var(--text-color);
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: auto;
    box-shadow: 1px 1px 4px #999;
    font-size: 1rem;
}

#submitBtn {
    padding: 10px 20px;
}

/* Success Message */
#successMain {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 320px;
    padding: 1rem;
}