@media only screen and (min-width: 670px) {

    #indexMain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }


    picture {
        grid-column: 1/3;
        grid-row: 1/3;
        display: flex;
    }

    .hero img {
        position: fixed;
    }

    #title {
        grid-column: 1/3;
        grid-row: 1/2;
    }


    #timeline {
        grid-column: 1/3;
        grid-row: 2/4;
    }

    #mainComponents div,
    #mainPeripherals div {
        max-width: 1250px;
        grid-template-columns: repeat(3, 1fr);
    }

    .child {
        font-size: 1rem;
    }

    .content {
        width: 200px;
    }

}

@media only screen and (min-width: 850px){
    header {
        justify-content: space-between;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        text-align: center;
        padding: 1rem;
        font-size: 1.25rem;
    }

    #menu {
        display: none;
    }

    .hide-header h1 {
        display: block;
    }
}