body {
    font-family: "Roboto", sans-serif;
    margin: auto;
}

#header-1 {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #27488f;
    color: white;
    margin: auto;
}

#menu::before {
    content: "≡";
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: #27488f;
    color: white;
}

#h1-header {
    margin-left: 15px;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    color: white;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1.25rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: #27488f;
    background-color: white;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

main {
    max-width: 1500px;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-items: center;
    margin: auto;
    font-size: 1.2rem;
}

#temples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    text-align: center;
}

#temples section {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px black;
}

#temples img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.hide-header {
    display: none;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #11161b;
    color: white;
    padding: 1rem 0;
}
