body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

#header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #27488f;
    color: white;
    margin: auto;
}

#menu::before {
    content: "≡";
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: #27488f;
    color: white;
}

#h1-header {
    margin-left: 15px;
}


.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    color: white;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1.25rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: #27488f;
    background-color: white;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

main {
    max-width: 1500px;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: auto;
}

figure, img, figcaption {
    max-width: 100%;
}

figure {
    width: fit-content;
}


figcaption {
    text-align: center;
}

.hide-header {
    display: none;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #11161b;
    color: white;
    padding: 1rem 0;
}